[run]
source = tit
branch = True
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */__init__.py
    */benchmark/*
    */blender/*
    */gui/*
    setup.py
    version.py

[paths]
core = tit/core/
simulator = tit/sim/
analyzer = tit/analyzer/
optimizer = tit/opt/
stats = tit/stats/
plotting = tit/plotting/
preprocessing = tit/pre/

[report]
precision = 2
skip_covered = False
skip_empty = True
sort = Cover

exclude_lines =
    # Standard pragma
    pragma: no cover
    # Don't complain about missing debug code
    def __repr__
    def __str__
    # Don't complain if tests don't hit defensive assertion code
    raise AssertionError
    raise NotImplementedError
    # Don't complain if non-runnable code isn't run
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:
    # Don't complain about abstract methods
    @(abc\.)?abstractmethod
    # Don't complain about deprecation warnings
    warnings.warn
    # Don't complain about pass statements
    pass
