services:

  freesurfer:
    image: idossha/ti-toolbox_freesurfer:v7.4.1
    platform: linux/amd64
    container_name: freesurfer_container
    volumes:
      - ti-toolbox_freesurfer_data:/usr/local/freesurfer/
    networks:
      - ti_network
    restart: unless-stopped

  simnibs:
    platform: linux/amd64
    image: idossha/simnibs:v2.2.0
    container_name: simnibs_container
    volumes:
      - ti-toolbox_freesurfer_data:/usr/local/freesurfer/
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${LOCAL_PROJECT_DIR}:/mnt/${PROJECT_DIR_NAME}
      - ${DEV_CODEBASE_DIR}:/development
    environment:
      USER: root
      DISPLAY: ${DISPLAY}
      # LIBGL_ALWAYS_SOFTWARE: ${LIBGL_ALWAYS_SOFTWARE:-}
      # LIBGL_ALWAYS_INDIRECT: ${LIBGL_ALWAYS_INDIRECT:-}
      # QT_X11_NO_MITSHM: ${QT_X11_NO_MITSHM:-}
      # QT_OPENGL: ${QT_OPENGL:-}
      # TI_GUI_QGL_FALLBACK: ${TI_GUI_QGL_FALLBACK:-}
      # Matplotlib backend for headless plotting
      MPLBACKEND: "Agg"

      FREESURFER_HOME: /usr/local/freesurfer
      SUBJECTS_DIR: /usr/local/freesurfer/subjects
      FS_LICENSE: /usr/local/freesurfer/license.txt
      LOCAL_PROJECT_DIR: ${LOCAL_PROJECT_DIR}
      PROJECT_DIR_NAME: ${PROJECT_DIR_NAME}
      DEV_CODEBASE_DIR: ${DEV_CODEBASE_DIR}
      DEV_CODEBASE_NAME: ${DEV_CODEBASE_NAME}
      TZ: ${TZ}
      KMP_AFFINITY: "disabled"
    networks:
      - ti_network
    depends_on:
      - freesurfer
    tty: true
    stdin_open: true
    working_dir: /development
    command: ["/bin/bash"]
    restart: unless-stopped

networks:
  ti_network:
    driver: bridge

volumes:
  ti-toolbox_freesurfer_data:
    external: true
    name: ti-toolbox_freesurfer_data
